/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f7f7f7;
  color: #333;
  padding: 50px;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header img {
  width: 50px;
}

header h1 {
  font-size: 30px;
  font-weight: bold;
}

/* Main styles */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

aside {
  width: 300px;
  margin-right: 50px;
}

section {
  width: calc(100% - 350px);
}

aside h2,
section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

aside ul {
  list-style: none;
}

aside ul li {
  margin-bottom: 10px;
}

section ul {
  list-style: none;
}

section ul li {
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  margin-top: 50px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
